.justificar, h1{
    text-align: justify;
    width: 80%;
    margin: 30px;
    
}

.navbar{
    display: inline-block;
}


/*table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;

}

tr{
    background-color: rgb(155, 152, 152);
}
*/

    



