.justificar, h1{
    text-align: justify;
    width: 80%;
    margin: 30px;
    
}

.derecha{
    margin: 30%;
    
}

/*.navbar{
    display: inline-block;
}
*/
.table-striped{
    background-color: rgb(247, 245, 245);
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

td, th{
    border-collapse: collapse;
    border-right: 1px solid black;
    

}

.table>:not(caption)>*>*{
    border-bottom-width: 0px;
}


